.contenedorArticulo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contenedorTotal {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.contenedorOpciones {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.btnEliminar {
    width: min-content;
}